<h1>Listing libros</h1>

<table>
  <tr>
    <th>Titulo</th>
    <th>String</th>
    <th>Idioma</th>
    <th>String</th>
    <th>Resumen</th>
    <th>Text</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @libros.each do |libro| %>
  <tr>
    <td><%= libro.Titulo %></td>
    <td><%= libro.string %></td>
    <td><%= libro.Idioma %></td>
    <td><%= libro.string %></td>
    <td><%= libro.Resumen %></td>
    <td><%= libro.text %></td>
    <td><%= link_to 'Show', libro %></td>
    <td><%= link_to 'Edit', edit_libro_path(libro) %></td>
    <td><%= link_to 'Destroy', libro, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Libro', new_libro_path %>
