<p id="notice"><%= notice %></p>

<p>
  <b>Titulo:</b>
  <%= @libro.Titulo %>
</p>

<p>
  <b>String:</b>
  <%= @libro.string %>
</p>

<p>
  <b>Idioma:</b>
  <%= @libro.Idioma %>
</p>

<p>
  <b>String:</b>
  <%= @libro.string %>
</p>

<p>
  <b>Resumen:</b>
  <%= @libro.Resumen %>
</p>

<p>
  <b>Text:</b>
  <%= @libro.text %>
</p>


<%= link_to 'Edit', edit_libro_path(@libro) %> |
<%= link_to 'Back', libros_path %>
